--index-url https://download.pytorch.org/whl/cu126
--extra-index-url https://pypi.org/simple

pufferlib[cleanrl,ray,nethack,procgen,atari,crafter,pokemon_red,vizdoom,classic_control]>=2.0.6
torch
torchvision
torchrl
torchinfo
numpy
matplotlib
pandas
tqdm
jupyter
jupyter-ai
langchain-ollama
langchain-openai
opencv-python
tensorboard
wandb
pytest
moviepy
mypy
